header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
}

.background-section{
    background-image: url(Hero-bg.png);

}


.background-section img {
    max-width: 150px;
    margin-bottom: 50px;
   
}
.background-section {
   
    text-align: center;
    padding: 100px 20px;
    color: #000;
   
   
}
.background-section button {
    padding: 15px 30px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.background-section button:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
.style{
    margin: 100px 49px;
}
.why-web{ 
    text-align: center;
    font-size: 32px;

    
}
.all-part{
    margin: 105px 100px;
}
.do-coding{
    margin: 97px 80px;
}
.adjust-do-coding-part{
    display: flex;
}
.adjust-do-coding-part2{
    display: flex;
}
.adjust-do-coding-part3{
    display: flex;
}
.bold-24{
    font-size: 24px;
    font-weight: bold;
}
.targets{
    margin: 105px 100px;

}
.inspiration{
    text-align: center;
  
    
}
.inspriration-para{
    text-align: center;
}
.heading-1{
    font-size: 32px;
    text-align: center;

}
.video-wrapper{
    margin: 32px 32px;
}


.skill-container{
    display: flex;
    margin: 48px;
    gap: 24px;
}
.skill{
    background-color: antiquewhite;
    padding: 30px;
}
.skillss{
    background-color: aquamarine;
    padding: 30px;
}
.skl{
    background-color: bisque;
    padding: 30px;
}
.support-section{
    margin: 105px 150px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 50px 20px;
    background-image: url('handshake.jpg');
    background-size: cover;
    background-position: center;
}

.support h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.support p {
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: bold;
}

.feedback-form {
    display: inline-block;
    text-align: center;
}

.feedback-form input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

.feedback-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
}
.footer-content {
    margin: 32px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer .social-links a {
    margin: 0 10px;
    display: inline-block;
}

footer .social-links img {
    width: 24px;
    height: 24px;
}
